@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --blue: #2323ac;
  --lightblue: #4343be;
  --red: #ff5a3c;
  --light-red: #f9edeb;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

}

body {
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}


header{
    position: fixed;
    top:0; left:0; right:0;
    padding: 1.2rem 2%;
    box-shadow: 0 .9rem 1rem rgba(0,0,0,.1);
    display: flex;
    justify-content: space-between;
    transition: all 0.6s;
    background: #333;
    align-items: center;
    
}

header .logo{
    font-weight: bolder;
    font-size: 2.5rem;
    color:#fff;
}

header .logo span{
    color:var(--blue);
}

.navbar{
    display: flex;
    justify-content: space-between;
    gap: 29px;
}
header .navbar-two{
    display: flex;
    align-items: center;
} 
header .navbar-two ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
header .navbar-two li a{
    color:#fff;
    font-size: 1.7rem;
    padding:0 1.5rem;
    margin-right: 10px;

   
}
nav #icon{
     display: none;
}
nav #icon .fa-bars{
    font-size: 30px;
    color: white;
}

.navbar-two li a:hover {
    background: white;
    padding: 10px;
    color: var(--lightblue);
    transition: .5s;
    border-radius: 9px;
}

.navbar .navbar-two .btn button {
    background-color: blue;
    border-radius: 18px;
    padding: .7rem;
    width: 10rem;
    margin-right: 20px;
}
.navbar .btn button a {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.wrapper {
  display: grid;
  place-items: center;
  background: url(./images/laptop.jpeg);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}
form{
  padding: 10px;
}

.field input,
.field-one input {
  padding: 1.5rem;
  width: 33rem;
}
.field-two{
  margin: 0 auto;
}
.field-two button {
  padding: 1rem;
  background-color: var(--lightblue);
  color: white;
  border-radius: 10px;
  width: 33rem;
  margin: 10px auto;
  
}

.field-two button:hover {
  background-color: transparent;
  color: #ffeaea;
  border: 1px solid var(--lightblue);
  transition: 0.3s;
  cursor: pointer;
}
.check-box{
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 1.3rem;
}

.check-box label, .forget a{
  font-weight: 600;
  color: #fff;
  font-size: 1.5rem;
}
.forget a:hover{
  color: var(--blue);
}



.footer .footer-container{
  background:#353535;
  border:.1rem solid rgba(0,0,0,.2);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  padding:2rem;
  width: 100vw;
  color: #fff;
  
}

.footer .footer-container .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:7rem;
  padding-left: 8rem;
  color: #fff;
  padding-top:50px;
}


.footer .footer-container .box-container .box{
  flex:1 1 25rem;
}

.footer .footer-container .box-container .box h3{
  font-size: 2.5rem;
 
  padding:.5rem 0;
}

.footer .footer-container .box-container .box a{
  display: block;
  font-size: 1.5rem;
  color: #fff;
  padding:.5rem 0;
}

.footer .footer-container .box-container .box a:hover{
  color:var(--lightblue);
  text-decoration: underline;
}

.footer .footer-container .credit{
  margin-top: 2rem;
  padding-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
  color:#fff;
  border-top: .1rem solid rgba(0,0,0,.1);
}

@media (max-width:789px) {
  .navbar .navbar-two ul {
    position: absolute;
    background: #333;
    display: block;
    top: 55px;
    left: -100%;
    width: max-content;
    height: 100vh;
    padding: 50px 40px;
    transition: all .5s ease-out;
  }

  .navbar .navbar-two ul li {
    margin-top: 30px;
  }

  .navbar #icon {
    display: block;

  }

  .navbar ul.show {
    left: 0;
  }
  .navbar .navbar-two .btn button{
    display: block;
    margin-top: 20px;
  }
}
@media (max-width:435px) {
  .navbar #icon {
    margin-right: 10px;

  }
  .field-two button {
    width: 25rem;
  }
  .field input,
  .field-one input {
    width: 25rem;
  }
  .check-box label, .forget a{
    font-size: 1.2rem;
  }
  .footer .footer-container .box-container{
    padding-left: 2rem;
  }

}

